.container.text-xl.flex.justify-center.items-center.w-full.h-screen.p-5.flex-col
  h1.text-title.text-4xl S.B.R.B
  = image_tag 'bot.png', class: 'rounded mx-auto d-block'
  = link_to 'Get Started', admin_root_path, class: 'border p-2 rounded mt-2 text-sm text-white bg-blue-500 hover:bg-blue-700'
